.header {
   height: 100px;
   color: black;
   margin: 0px;
   background-color: #ededed;
}
@media (prefers-color-scheme: dark) {
  .header {
    background-color: #222;
    color: white;
  }
}

.title {
   padding: 10px;
   margin: 0px;
}
