.detail {
   height: 80vh;
   margin: 20px;
   /* overflow: scroll; */
   /* overscroll-behavior: contain; */
   color: black;
}
@media (prefers-color-scheme:dark) {
  .detail {
    color: #eee;
  }
}

.detail h1 {
   font-size: 24pt;
   margin: 0;
   padding: 0;
}
@media (prefers-color-scheme: dark) {
  .detail h1 {
    color: #efefef;
  }
}

.typeLabel {
   font-size: 14pt;
   margin: 5px 0 36px 0;
   padding: 0;
   color: #777;
}

.link {
   /* color: #222; */
   color: cornflowerblue;
   text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  .link {
    color: cornflowerblue;
  }
}

.deleteButton {
   margin-top: 24px;
}
