.Site-container {
   display: flex;
   flex-direction: column;
}

.Content {
   display: flex;
   flex-direction: row;
}

.Header {
   height: 10vh;
   color: black;
   margin: 0px;
   background-color: #ededed;
}

.Header-title {
   padding: 10px;
   margin: 0px;
}

.Bookmark-tags {
}

.Bookmark-list {
   height: 88vh;
   overflow: scroll;
   overscroll-behavior: contain;
   background-color: #fcfcfc;
}

.Bookmark-list-panel {
   height: 88vh;
   border-right: 1px solid #333;
   border-top: 1px solid #333;
   flex-basis: 300px;
}

.Bookmark-detail-panel {
  flex: 1;
  border-top: 1px solid #333;
}

ul {
   padding: 0px;
   margin: 0px;
}

.Bookmark {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 4fr 1fr;
   margin: 0 10px 0 0;
   border-bottom: 1px solid #bbb;
   padding: 8px;
   background: white;
}

.Bookmark-name {
   margin: 0px;
   padding: 0px 0px 3px 5px;
   font-size: 16pt;
   color: #444;
}

.Bookmark-description {
   margin: 0px;
   padding: 5px;
}

.Bookmark-link {
   margin: 0px;
   padding: 5px;
}

.Bookmark-topic {
    margin: 0px;
    padding: 5px;
   color: gray;
}

.TextField {
   padding: 3px;
}

.Add-button {
   border-radius: 5px;
   border: 1px solid black;
   background-color: white;
   padding: 8px;
   width: 100px;
   float: right; 
}

.Modal {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #333333bb;
   z-index: -1;
}

.Modal-content {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 0;
   background-color: purple;
   color: white;
}
