.theme {
  background: white;
  color: black;
}
@media (prefers-color-scheme: dark) {
  .theme.adaptive {
    background: black;
    color: white;
  }
}

.Site-container {
   display: flex;
   flex-direction: column;
}

.Content {
   display: flex;
   flex-direction: row;
}

.Site-container, .Content {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.Bookmark-list-panel {
   border-right: 1px solid #333;
   border-top: 1px solid #333;
   flex-basis: 300px;
   overflow: scroll;
}

.Bookmark-list-info {
   background-color: #464646;
   color: #e3eefd;
   padding: 3px 0px 3px 10px;
}

.Bookmark-detail-panel {
   flex: 1;
   border-top: 1px solid #333;
   overflow: scroll;
}

.Bookmark {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 4fr 1fr;
   margin: 0 10px 0 0;
   border-bottom: 1px solid #bbb;
   padding: 8px;
   background: white;
}

.Bookmark-name {
   margin: 0px;
   padding: 0px 0px 3px 5px;
   font-size: 16pt;
   color: #444;
   text-decoration: none;
}

.Bookmark-description {
   margin: 0px;
   padding: 5px;
}

.Bookmark-link {
   margin: 0px;
   padding: 5px;
}

.Bookmark-topic {
    margin: 0px;
    padding: 5px;
   color: gray;
}

.Bookmark-detail {
   height: 80vh;
   margin: 20px;
   overflow: scroll;
   overscroll-behavior: contain;
}
