.Header {
   /* background-color: black; */
   color: white;
   margin: 0px;
   /* background: linear-gradient(70deg, firebrick 70%, red); */
   /* border-radius: 0px 0px 20px 20px; */
}

.Header-title {
   padding: 10px;
   margin: 0px;
   color: maroon;
}

.Bookmark-list {
   height: 500px;
   width: 800px;
   max-width: 1000px;
   overflow: scroll;
   border: 2px solid maroon;
   border-radius: 8px;
   background-color: maroon;
}

ul {
   padding: 0px;
}

.Content {
   display: flex;
   align-items: center;
   justify-content: center;
}

.Bookmark {
   margin: 10px;
   padding: 5px;
   /* border: 2px solid firebrick; */
   border-radius: 5px;
   background: linear-gradient(250deg, #cc0000, #dc0000, #ec0000 80%);
}

.Bookmark-name {
   margin: 0px;
   padding: 5px 0px 0px 5px;
   color: maroon;
}

.Bookmark-description {
   margin: 0px;
   padding: 5px;
}

.Bookmark-link {
   margin: 0px;
   padding: 5px;
}

.Bookmark-topic {
    margin: 0px;
    padding: 5px;
   color: coral;
}

.TextField {
   padding: 3px;
}
