.bookmark {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 4fr 1fr;
   margin: 0 10px 0 0;
   border-bottom: 1px solid #bbb;
   padding: 8px;
   background: white;
}
@media (prefers-color-scheme: dark) {
  .bookmark {
    background: black;
    border-bottom: 1px solid #333;
  }
}

.name {
   margin: 0px;
   padding: 0px 0px 3px 5px;
   font-size: 16pt;
   color: #444;
   text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  .name {
    color: #eee;
  }
}

.topic {
    margin: 0px;
    padding: 5px;
    color: gray;
}
