.textField {
   padding: 3px;
}

.toolbar {
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   grid-template-rows: 1fr;
   justify-content: center;
   padding: 10px;
}

.toolbar > button {
   margin: 10px;
   width: 100px;
}
